/*
File : login.css;
Date created: October 20 2018;
Date modified: October 20 2018;
Author: WJW
*/

html{

}

body{

   font-family:Futura, Geneva, Arial, sans-serif;
   font-size:15px;
   /*background-color: #f4f4f4;*/

}

.container{
  max-width: 960px;
  margin:auto;
}

.header{
   position: absolute;
   width: 960px;
   height: 80px;

   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   /*background-color:  #091c24;*/

}

.logo{
   position: absolute;
   left: 50px;
}

.logo img{
   width: 50px;
   height: 50px;
   padding-top: 8px;
   padding-left:5px;

}

.nav {
   position: absolute;
   left: 70px;
   width: 420px;
   height: 50px;

   margin-top: 10px;

}

.nav ul{
    list-style-type: none;
    text-align: left;

    margin-top: 8px;



}

.nav li {
   display: inline-block;
   padding:10px;

   margin-right: 30px;

}

.nav a{
   text-decoration: none;
   color: #4b7549;
}

.login{
   position: absolute;
   left: 780px;
   top:30px;
   width: 70px;
   height: 25px;

   text-align: center;
   padding-top: 4px;
}

.login a {
   text-decoration: none;
   color: #4b7549;
}

.signup{
   position: absolute;
   left: 870px;
   top:30px;
   width: 70px;
   height: 25px;

   text-align: center;
   padding-top: 4px;
}

.signup a{
   text-decoration: none;
   color: #4b7549;
}

.formcontainer{
	position: absolute;
	top:150px;
	width:960px;

}

.form{
	width: 400px;
	margin:auto;
  /*
	border:1px solid #cccccc;
	border-radius: 4px;
  */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	height:400px;
}

.formheader{
	height:60px;
	width:400px;
	margin:auto;
	background-color: white;


	color:#4b7549;
	padding:35px 0;

}
.formheader h3{
	text-align: center;
	font-weight: 500;
	font-size:23px;
}

table{
	border-collapse:separate;
	border-spacing: 40px 0;

}

td{
	padding:10px 0;

}

#login input[type = "reset"]{
	width: 100px;

    color: white;
    padding: 13px 18px;
    margin: 3px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	background-color: #4b7549;
	font-size: 12px;
}



#login input[type = "submit"]{
        width: 100px;

    color: white;
    padding: 13px 18px;
    margin: 3px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
        background-color: #4b7549;
        font-size: 12px;
}


#login input[type = "text"]{

    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    height:30px;
    width:150px;

}

#login input[type = "password"]{

    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    height:30px;
    width:150px;

}


#registration input[type = "reset"]{
	width: 100px;

    color: white;
    padding: 13px 18px;
    margin: 3px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	background-color: #4b7549;
	font-size: 12px;
}

#registration input[type = "submit"]{
	width: 100px;

    color: white;
    padding: 13px 18px;
    margin: 3px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	background-color: #4b7549;
	font-size: 12px;
}

#registration input[type = "text"]{

    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    height:30px;
    width:150px;

}

#registration input[type = "password"]{

    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    height:30px;
    width:150px;

}


td{
	height:30px;
}

.alnright{
	text-align: center;
}

.alnleft{
	text-align: center;
}


.formcontent p{
   text-align:center;
   width:300px;
}



.form p{

 width:200px;
 margin:auto;

}
.form a{
  text-decoration: none;
  font-weight: bold;
}







.footer{
  position: absolute;
  top: 750px;
  clear:both;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width:960px;
  margin-bottom:10px;
  overflow: hidden;
}



.contact{
  float: right;
  color: white;
  margin: 1px;
  padding: 1em;

}

.contact a{
  text-decoration: none;
  color:#4b7549;
}

 .copyright{
  float: left;
  color: #4b7549;
  width: 400px;
  margin: 1px;
  padding: 1em;
 }
